{% extends 'base.html.twig' %}

{% block title %}New Croix{% endblock %}

{% block body %}
    <h1>Create new Croix</h1>

    {{ include('croix/_form.html.twig') }}

    <a href="{{ path('app_croix_index') }}">back to list</a>
{% endblock %}
