<form method="post" action="{{ path('app_anecdotes_delete', {'id': anecdote.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ anecdote.id) }}">
    <button class="btn">Delete</button>
</form>
