{% extends 'base.html.twig' %}

{% block title %}New Particularites{% endblock %}

{% block body %}
    <h1>Create new Particularites</h1>

    {{ include('particularites/_form.html.twig') }}

    <a href="{{ path('app_particularites_index') }}">back to list</a>
{% endblock %}
